# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\SexyYxy\大三上\无线网络系统\mine\ns-allinone-2.35\ns-2.35\aodv-uu-0.9.6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
